<!DOCTYPE html>
%html{:lang=>"en-US"}
  %head
    %meta{:charset=>"utf-8"}/
    %title= @title || "Radiant CMS - Publishing for Small Teams"
    %link{:href=>"/stylesheets/admin/main.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
    %script{:type =>"text/javascript"}= "var relative_url_root = '';"
    %script{:src=>"/javascripts/admin/prototype.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/effects.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/lowpro.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/cookie.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/dropdown.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/popup.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/status.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/utility.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/codearea.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/dateinput.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/pagestatus.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/tabcontrol.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/ruledtable.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/sitemap.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/toggle.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/shortcuts.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/toolbar.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/application.js", :type=>"text/javascript"}
    = yield :meta
  %body{:class=>body_classes.join(" ")}
    #page
      #header
        - unless @logged_out
          #site_links
            = %{Logged in as <a href="/admin/preferences/edit/">Sean Cribbs</a> &nbsp; (<a href="/admin/logout/">Logout</a>)}
            &nbsp;
            %a{:href=>"#view_site_popup", :id=>"view_site", :onclick=>"return false"} View Site
          %ul#navigation
            - tabs.each do |tab|
              %li{:class=>(tab[@selected] ? 'current' : nil)}
                = link_to tab.proper_name, (tab.first.url unless tab.first.nil?)
          #toolbar
            - if tabs[@selected]
              %ul#secondary_navigation
                - tabs[@selected].each do |tab|
                  %li= link_to tab.proper_name, tab.url, :class=>(tab.name == @selected ? 'current' : nil)
            = yield :toolbar
      #main
        = yield :flash_message
        #content
          = yield
