- @selected = :javascripts
- @title = 'Javascripts - Radiant CMS - Publishing for Small Teams'
.outset
  %table#javascripts.index
    %thead
      %tr
        %th.name Javascript
        %th.actions Modify
    %tbody
      %tr.javascript#javascript_1
        %td.name
          %img{:title=>"", :src=>"/images/admin/javascript.png", :alt=>"javascript_icon"}/
          %a{:href=>"/admin/javascripts/edit", :title=>"/javascripts/controls.js"} controls.js
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/javascripts/remove", :class=>"action"
      %tr.javascript#javascript_2
        %td.name
          %img{:title=>"", :src=>"/images/admin/javascript.png", :alt=>"javascript_icon"}/
          %a{:href=>"/admin/javascripts/edit", :title=>"/javascripts/effects.js"} effects.js
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/javascripts/remove", :class=>"action"
      %tr.javascript#javascript_3
        %td.name
          %img{:title=>"", :src=>"/images/admin/javascript.png", :alt=>"javascript_icon"}/
          %a{:href=>"/admin/javascripts/edit", :title=>"/javascripts/prototype.js"} prototype.js
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/javascripts/remove", :class=>"action"

#actions
  %ul
    %li= link_to image('plus.png') + " New Javascript", "/admin/javascripts/new"
    %li= link_to "Upload", "#"
    