<!DOCTYPE html>
%html{:lang=>"en-US"}
  %head
    %meta{:charset=>"utf-8"}/
    %title= @title || "Radiant CMS - Publishing for Small Teams"
    %link{:href=>"/stylesheets/admin/main.sass", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
    %script{:type =>"text/javascript"}= "var relative_url_root = '';"
    %script{:src=>"/javascripts/admin/prototype.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/effects.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/lowpro.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/cookie.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/popup.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/status.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/utility.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/codearea.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/tabcontrol.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/ruledtable.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/sitemap.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/shortcuts.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/toolbar.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/admin/application.js", :type=>"text/javascript"}
    /[if lt IE 7]
      %script{:type=>"text/javascript", :src=>"/javascripts/admin/pngfix.js"}
    = yield :meta
  %body{:class=>body_classes.join(" ")}
    #page
      #header
        - unless @logged_out
          #site_links
            = %{Logged in as <a href="/admin/preferences/edit/">Sean Cribbs</a> &nbsp; (<a href="/admin/logout/">Logout</a>)}
            &nbsp;
            %a{:href=>"#view_site_popup", :id=>"view_site", :onclick=>"return false"} View Site
          %ul#navigation
            - nav_tabs.each do |primary_item|
              %li{:class=>(primary_item[@selected] ? 'current' : nil)}
                %a{:href=>(primary_item.first.url unless primary_item.first.nil?)}
                  = primary_item.proper_name
                - if primary_item[@selected]
                  %ul#nav_sub
                    - primary_item.each do |sub_item|
                      %li
                        %a{:href=>sub_item.url, :class=>(sub_item.name == @selected ? 'current' : nil)}>
                          %span
                            = sub_item.proper_name
          #header_bottom
            %div
      #main
        = yield :flash_message
        #content
          = yield
