- @selected = :users
- @title = 'Users - Radiant CMS - Publishing for Small Teams'

.outset
  %table#users.index
    %thead
      %tr
        %th.user Name / Username
        %th.roles Roles
        %th.actions{:style=>"width:9em"} Modify
    %tbody
      %tr.user#user_1
        %td.name
          %a{:href=>"/admin/users/edit"}
            %img.avatar.avatar_32x32{:src=>gravatar_url('sean.cribbs@gmail.com', :size=>"32px"), :width=>32, :height=>32, :alt=>""}
          %a{:href=>"/admin/users/edit"} Sean Cribbs
          %span.login (sean)
        %td.roles Administrator
        %td.actions
          %span.action.disabled= image('minus_disabled.png') + " Remove"
      %tr.user#user_2
        %td.name
          %a{:href=>"/admin/users/edit"}
            %img.avatar.avatar_32x32{:src=>gravatar_url('unknown.user@example.com', :size=>"32px"), :width=>32, :height=>32, :alt=>""}
          %a{:href=>"/admin/users/edit"} Jim
          %span.login (jim)
        %td.roles Administrator, Designer
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/users/remove", :class=>"action"
      %tr.user#user_3
        %td.name
          %a{:href=>"/admin/users/edit"}
            %img.avatar.avatar_32x32{:src=>gravatar_url('unknown.user@gmail.com', :size=>"32px"), :width=>32, :height=>32, :alt=>""}
          %a{:href=>"/admin/users/edit"} Lisa
          %span.login (lisa)
        %td.roles Designer
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/users/remove", :class=>"action"
      %tr.user#user_4
        %td.name
          %a{:href=>"/admin/users/edit"}
            %img.avatar.avatar_32x32{:src=>gravatar_url('unknown.user@example.com', :size=>"32px"), :width=>32, :height=>32, :alt=>""}
          %a{:href=>"/admin/users/edit"} Ralph
          %span.login (ralph)
        %td.roles Designer
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/users/remove", :class=>"action"
      %tr.user#user_5
        %td.name
          %a{:href=>"/admin/users/edit"}
            %img.avatar.avatar_32x32{:src=>gravatar_url('unknown.user@example.com', :size=>"32px"), :width=>32, :height=>32, :alt=>""}
          %a{:href=>"/admin/users/edit"} Susan
          %span.login (susan)
        %td.roles 
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/users/remove", :class=>"action"

#actions
  %ul
    %li= link_to image('plus.png') + " New User", "/admin/users/new"