%tr.page.level_2.no_children.virtual#page_5
  %td.name{:style=>"padding-left: 55px"}
    %span.w1
      %a{:href=>"/admin/pages/edit", :title=>"/articles/2008/02/21/monthly-archives/"}
        %img{:title=>"", :src=>"/images/admin/virtual_page.png", :alt=>""}/
        %span.title %B %Y Archives
      %span.info (Archive Month Index)
      %img#busy_10.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
  %td.status
    %span.status.published_status 
      %a{:href => "/articles/2008/02/21/monthly-archives/"} Published
  %td.actions
    = link_to image('plus.png') + " Add Child", "#add_child_dropdown", :class=>"action dropdown"
    = link_to image('minus.png') + " Remove", "/admin/pages/remove", :class=>"action popup"
%tr.page.level_2.no_children#page_6
  %td.name{:style=>"padding-left: 55px"}
    %span.w1
      %a{:href=>"/admin/pages/edit", :title=>"/articles/2006/06/09/first-post/"}
        %img{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
        %span.title First Post
      %img#busy_5.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
  %td.status
    %span.status.published_status 
      %a{:href => "/articles/2006/06/09/first-post/"} Published
  %td.actions
    = link_to image('plus.png') + " Add Child", "#add_child_dropdown", :class=>"action dropdown"
    = link_to image('minus.png') + " Remove", "/admin/pages/remove", :class=>"action popup"
%tr.page.level_2.no_children#page_7
  %td.name{:style=>"padding-left: 55px"}
    %span.w1
      %a{:href=>"/admin/pages/edit", :title=>"/articles/2006/06/10/second-post/"}
        %img{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
        %span.title Second Post
      %img#busy_6.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
  %td.status
    %span.status.published_status
      %a{:href => "/articles/2006/06/10/second-post/"} Published
  %td.actions
    = link_to image('plus.png') + " Add Child", "#add_child_dropdown", :class=>"action dropdown"
    = link_to image('minus.png') + " Remove", "/admin/pages/remove", :class=>"action popup"
%tr.page.level_2.no_children#page_8
  %td.name{:style=>"padding-left: 55px"}
    %span.w1
      %a{:href=>"/admin/pages/edit", :title=>"/articles/2008/02/21/third-post/"}
        %img{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
        %span.title Third Post
      %img#busy_8.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
  %td.status
    %span.status.published_status 
      %a{:href => "/articles/2008/02/21/third-post/"} Published
  %td.actions
    = link_to image('plus.png') + " Add Child", "#add_child_dropdown", :class=>"action dropdown"
    = link_to image('minus.png') + " Remove", "/admin/pages/remove", :class=>"action popup"
%tr.page.level_2.no_children#page_9
  %td.name{:style=>"padding-left: 55px"}
    %span.w1
      %a{:href=>"/admin/pages/edit", :title=>"/articles/2008/02/21/fourth-post/"}
        %img{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
        %span.title Fourth Post
      %img#busy_9.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
  %td.status
    %span.status.draft_status Draft
  %td.actions
    = link_to image('plus.png') + " Add Child", "#add_child_dropdown", :class=>"action dropdown"
    = link_to image('minus.png') + " Remove", "/admin/pages/remove", :class=>"action popup"
