- @selected = :all
- @title = 'Images - Radiant CMS - Publishing for Small Teams'

.outset
  %table#assets.index
    %thead
      %tr
        %th.name Assets
        %th.actions{:style=>"width:9em"} Modify
    %tbody
      %tr.image#image_1
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/logo.png"} logo.png
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_2
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/john.jpg"} john.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_3
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/sean.jpg"} sean.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_4
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/jim.jpg"} jim.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_5
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/josh.jpg"} josh.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_6
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/keith.jpg"} keith.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_7
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/john.jpg"} john.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_8
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/will.jpg"} will.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_9
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/paul.jpg"} paul.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_10
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/george.jpg"} george.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_11
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/ringo.jpg"} ringo.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_12
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget.jpg"} widget.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_13
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_detail.jpg"} widget_detail.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_14
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_feature.jpg"} widget_feature.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_15
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_in_situ.jpg"} widget_in_situ.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_16
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_mark2.jpg"} widget_mark2.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_17
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_comparison.jpg"} widget_comparison.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_18
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_health_warning.jpg"} widget_health_warning.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_19
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_top.jpg"} widget_top.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"
      %tr.image#image_20
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/widget_side.jpg"} widget_side.jpg
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/images/remove", :class=>"action"

#actions
  .pagination
    %span.disabled.prev_page &laquo; Previous
    %span.current 1
    %a{:href => "/admin/images?page=2", :rel => "next"} 2
    %a.next_page{:href => "/admin/images?page=2", :rel => "next"} Next &raquo;
  .depaginate
    %a{:href => "/admin/images?pp=91"} show all 36
  %ul
    %li= link_to image('upload.png') + " Upload Asset", "/admin/assets/upload/", :class=>"popup"
