- @selected = :stylesheets
- @title = 'Stylesheets - Radiant CMS - Publishing for Small Teams'

.outset
  %table.index#stylesheets
    %thead
      %tr
        %th.name Stylesheet
        %th.actions{:style=>"width:9em"} Modify
    %tbody
      %tr.stylesheet#stylesheet_1
        %td.name
          %img{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/print.css"} print.css
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/stylesheets/remove", :class=>"action"
      %tr.stylesheet#stylesheet_2
        %td.name
          %img{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/screen.css"} screen.css
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/stylesheets/remove", :class=>"action"
      %tr.stylesheet#stylesheet_3
        %td.name
          %img.icon{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/shared.css"} shared.css
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/stylesheets/remove", :class=>"action"

#actions
  %ul
    %li= link_to image('plus.png') + " New Stylesheet", "/admin/stylesheets/new"
    %li
      = link_to 'Upload', '#uploader', :class => 'replace'
      %form{:method=>"post", :action=>"/admin/stylesheets/", "data-onsubmit_status"=>"Saving changes&#8230;", :id => 'uploader', :class => 'button_form'}
        %span
          %label{:for=>"upload"} Upload
          %input{:type => 'file', :name=>"uploaded_stylesheet", :id=>"upload"}/
          %input{:type => 'submit', :value => 'Create Stylesheet'}